/Bend/.phpunit.cache
/Bend/node_modules
/Bend/public/build
/Bend/public/hot
/Bend/public/storage
/Bend/storage/*.key
/Bend/vendor
/Bend/.env
/Bend/.env.backup
/Bend/.env.production
/Bend/.phpunit.result.cache
/Bend/Homestead.json
/Bend/Homestead.yaml
/Bend/auth.json
/Bend/npm-debug.log
/Bend/yarn-error.log
/Bend//.fleet
/Bend/.idea
/Bend/.vscode
